/* *****Global HTML-Body styles***** */
html{
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: #2C2C2C;
  overflow-y: auto;
  height: 100%;
  margin: 0;
  background-image: url("../imgs/todd-quackenbush-700.jpg");
}

body{
  height: 100%;
  margin: 0;
}

/* *****Landing Page Styles***** */
.parallaxHeading {
  font-family: 'Lobster', cursive;
  opacity: .9;
  z-index: 2;
  font-size: 70px;
  margin: 0 auto;
}

.sectionHeading{
  text-align: center;
  font-family: 'Lobster', cursive;
}

.landingSection{
  background-color: #2C2C2C;
}

.justify{
  text-align: justify;
}

.launchBtn{
  float: right;
}


/* *****App Page Styles***** */
.noMargin{
  margin: 0;
  display: flex;
  align-items: stretch;
}

.cursive{
  font-family: 'Lobster', cursive;
}

/* MenuBar Style */
#menuBar{
  background-color: #F7F9F9;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(117,116,117,1);
  -moz-box-shadow: 1px 0px 3px 0px rgba(117,116,117,1);
  box-shadow: 1px 0px 3px 0px rgba(117,116,117,1);
}

.multiple-select-dropdown label {
  top: -10px !important;
}

.brandTitle{
  font-family: 'Lobster', cursive;
}

.brandName{
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  color: #2C2C2C;
}

.brandName:visited{
  text-decoration: none;
  color: #2C2C2C;
}

.hrTitle{
  border: 0;
  height: 1px;
  margin-bottom: 15px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#slide-out{
  padding: 2px;
}

#searchFood{
  float:right;
  margin-right: 20px;
  margin-bottom: 60px;
}

.subtitle{
  margin-left: 7px;
}

.dropdown-content{
  margin-bottom: 120px;
}

/* Main Content for app */
#mainContent{
  padding: 25px;
}

.main{
  width: auto;
  text-align: center;
}

/* Temporary Background Text on App */
#tempText{
  font-family: 'Lobster', cursive;
  opacity: .7;
  z-index: 2;
  color: #fff;
  margin-top: 100px;
}

#search{
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.hamburgerIcon{
  font-size: 30px;
}
/* Recipe preview cards */
/* Images */
.recipeImg{
  max-height: 350px;
  max-width: 500px;
  width: auto;
  height: auto;
}

.recipePreviewCardImg{
  height: 350px;
}

/* Card Text */
.card-title{
  font-family: 'Lobster', cursive;
}

.strong{
  font-weight: 700;
  font-size: 16px;
}

.yummlyAttr{
  font-size: 11px;
  float: right;
  display: block;
}

.card-content{
  text-align: left;
}

.previewList{
  margin-top: 0;
}

.nextRecipe{
  position: absolute;
  top: 50%;
  right: 4px;
  opacity: .7;
}

.recipeSource{
  font-size: 14px;
}

.card-content{
  overflow-y: auto;
  flex-direction: column;
}
.card-reveal{
    text-align: left;
}
.recipeTitle{
  display: block;
}
.recipeSmall{
  font-size: 11px;
}
.mainReveal{
  overflow-y: auto;
}
#cardAction{
  padding: 16px 0 0 0;
}
.sourceRecipeBtn{
  text-align: right;
}
.saveRecipeBtn {
  margin-left: 5px;
  float: left;
}
.saveWineBtn1, .saveWineBtn2, .saveWineBtn3 {
  float: right;
}

/* Wine Styles */

.wineImage {
  width: 400px;
  height: 400px;
}

.wineName {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

.wineInfo {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  min-height: 280px;
}

.tabs .tab a {
  color: rgba(19, 18, 18, 0.7);
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #3895c9;
}

.tabs .indicator {
  background-color: #3895c9;
}

/*saved Recipe Box Style*/
.savedRecipes {
  border-right: 10px solid #2C2C2C;
}
/*.btn {
  padding: 0 .8rem;
}*/
.btn-floating {
  margin-bottom: 10px;
}

/* *****Modals Styles***** */
.miniButton{
  margin-top: 8px !important;
  height: 28px !important;
  line-height: 28px !important;

}
.btnHide{
  display: none !important;
}
.modalStyle{
  top:5px;
  right:5px;
  position:absolute;
  border-radius:40px;
  padding: 0 8px;
}

#modal5{
  max-width: 400px;
}

.modalPadding {
  padding-right:5px;
  padding-left:5px;
  border-radius:40px;
}

#modal6 {
  text-align: center;
}

/* tooltip/meal */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 100;
    bottom: -80%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* tooltip/wine */
.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 100;
    bottom: -80%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
}

/* *****Footer Section***** */
/* STICKY FOOTER */
.wrapper {
  min-height: 90.25%;}
  /*Equal to height of footer, but also accounting for potential margin-bottom of last child */
  margin-bottom: -59px;
}
.footer,
.push {
  height: 59px;
}
.footer{
  position: sticky;
  z-index: 999;
}

.page-footer{
  padding-top: 0;
  background-color: #2C2C2C;
}

.footerContent{
  text-align: center;
  margin: 1px auto;
  font-size: 12px;
}

/* Media Queries */
@media only screen and (max-width:500px){
  .miniButton{
    margin-right: 5px !important;
    font-size: 12px;
    margin-top: 50px !important;
  }
  #list{
    right: 0 !important;
  }
}

@media only screen and (max-width:600px){
  #cardHolder{
    margin-top: 20px !important;
  }
}

@media only screen and (max-width:750px){
  .sourceRecipeBtn{
    padding: 0 .8rem;
  }
}



